@{
    ViewData["Title"] = "Confirmación de  email";
}


<div class="paginasconEncabezado">

</div>
<h2>@ViewData["Title"]</h2>
<div>
    <p>
        Gracias por confirmar tu Email, Ahora puedes iniciar sesión en el sistema.
    </p>
</div>