
<h2>Selecciona una opción</h2>
<div class="row">

    <div class="col-md-6 center">
        <a asp-action="ListReserve" asp-route-id="c">
            <div class="card cartaSuscribsiones" style="width: 18rem;">
                <img width="400" height="200" src="~/images/cabaña.jpg" class="card-img-top" alt="...">

                <div class="tooltipSubs">
                    <h4>Seleccionar para rentar una cabaña</h4>
                    <h2><i class="fas fa-hand-pointer"></i></h2>
                    <h1><i class="fas fa-home"></i></h1>

                </div>

                <div class="card-body center">
                    <h5 class="card-title">Cabaña</h5>
                </div>
            </div>
            </a>
    </div>

    <div class="col-md-6 center">

        <div class="card cartaSuscribsiones" style="width: 18rem;">
            <img width="400" height="200" src="~/images/habitacion.jpg" class="card-img-top" alt="...">
            <div class="tooltipSubs">
                <h4>Seleccionar para rentar una habitación</h4>
                <h2><i class="fas fa-hand-pointer"></i></h2>
                <h1><i class="fas fa-bed"></i></h1>

            </div>

            <div class="card-body center">
                <h5 class="card-title">Habitación</h5>
            </div>
        </div>
    </div>


</div>

